input[type=search] {
  height: auto;
  line-height: 2.5;
}

.button,
button,
input[type=button],
input[type=reset],
input[type=submit],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
  border-radius: 6px;
  border: 2px solid #D1D1D1;
}

input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
  border: 2px solid #1D987B;
  outline: 0
}

select.isDefault,
input::placeholder {
  color: #D1D1D1;
  font-style: italic;
  font-weight: bold;
}

select {
	appearance: none;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='16' height='28' viewBox='0 0 16 28'%3E%3Cpath d='M16 17c0 0.266-0.109 0.516-0.297 0.703l-7 7c-0.187 0.187-0.438 0.297-0.703 0.297s-0.516-0.109-0.703-0.297l-7-7c-0.187-0.187-0.297-0.438-0.297-0.703 0-0.547 0.453-1 1-1h14c0.547 0 1 0.453 1 1z' fill='%23D1D1D1'%3E%3C/path%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: right .75em top 10%;
	background-size: 1em auto;
}

button.search {
  text-transform: none;
  font-size: 1.5em;
  font-family: inherit;
  height: auto;
  line-height: 2.5;
  background-color: #2F00C6;
  border-color: #2F00C6;
}

button.search:hover {
  background-color: #1D987B;
  border-color: #1D987B;
}
