body {
  /* The font in the comp looks like Avenir, which is not web safe.
   * Nunito is pretty close and is available on Google Fonts.
   */
  font-family: 'Nunito', sans-serif;
  margin-top: 2em;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

:focus {
  outline: 0;
}

a {
  color: #2F00C6;
  text-decoration: none;
}

a:hover {
  color: #1D987B;
}

canvas { display: none }
