section.container {
  width: 100%
}

.search-result-item {
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.2fr 0.8fr;
  grid-gap: 0 1.25em;
  grid-template-areas:
    "image tags"
    "image stats";
}
.search-result-item figure {
  grid-area: image;
  position: relative;
  cursor: pointer;
}

.search-result-item figure:after {
  display: block;
  position: absolute;
  color: #ffffff;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.search-result-item figure:hover:after {
  content: 'Save';
  background-color:#AD2E51;
}

.search-result-item figure[data-saved=true]:after {
  content: 'Saved';
  background-color:#E1752A;
}



.tags {
  grid-area: tags;
  list-style: none;
  margin-bottom: 0;
}

.tags li {
  display: inline-block;
  padding: 0 0.66em;
  background: #1D987B;
  color: #ffffff;
  margin: 0 0.5em 0 0;
  line-height: 1.5;
}

.stats {
  grid-area: stats;
  display: flex;
  align-items: flex-end;
}

.likes, .favorites {
  display: inline-block;
  margin-right: 2em;
}

.likes:after, .favorites:after {
  margin-left: 0.5em;
  content: '';
  display: block;
  width: 1.33em;
  height: 1.33em;
  background-repeat: no-repeat;
  background-position: middle;
	background-size: 100%;
  float: right;
}

.likes:after {
  /* thumbs up */
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='25' height='28' viewBox='0 0 25 28'%3E%3Cpath d='M4 21c0-0.547-0.453-1-1-1-0.562 0-1 0.453-1 1 0 0.562 0.438 1 1 1 0.547 0 1-0.438 1-1zM6.5 13v10c0 0.547-0.453 1-1 1h-4.5c-0.547 0-1-0.453-1-1v-10c0-0.547 0.453-1 1-1h4.5c0.547 0 1 0.453 1 1zM25 13c0 0.828-0.328 1.719-0.859 2.328 0.172 0.5 0.234 0.969 0.234 1.188 0.031 0.781-0.203 1.516-0.672 2.141 0.172 0.578 0.172 1.203 0 1.828-0.156 0.578-0.453 1.094-0.844 1.469 0.094 1.172-0.172 2.125-0.766 2.828-0.672 0.797-1.703 1.203-3.078 1.219h-2.016c-2.234 0-4.344-0.734-6.031-1.313-0.984-0.344-1.922-0.672-2.469-0.688-0.531-0.016-1-0.453-1-1v-10.016c0-0.516 0.438-0.953 0.953-1 0.578-0.047 2.078-1.906 2.766-2.812 0.562-0.719 1.094-1.391 1.578-1.875 0.609-0.609 0.781-1.547 0.969-2.453 0.172-0.922 0.359-1.891 1.031-2.547 0.187-0.187 0.438-0.297 0.703-0.297 3.5 0 3.5 2.797 3.5 4 0 1.281-0.453 2.188-0.875 3-0.172 0.344-0.328 0.5-0.453 1h4.328c1.625 0 3 1.375 3 3z' fill='%23010002'%3E%3C/path%3E%3C/svg%3E%0A");
}

.favorites:after {
  /* star */
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='26' height='28' viewBox='0 0 26 28'%3E%3Cpath d='M26 10.109c0 0.281-0.203 0.547-0.406 0.75l-5.672 5.531 1.344 7.812c0.016 0.109 0.016 0.203 0.016 0.313 0 0.406-0.187 0.781-0.641 0.781-0.219 0-0.438-0.078-0.625-0.187l-7.016-3.687-7.016 3.687c-0.203 0.109-0.406 0.187-0.625 0.187-0.453 0-0.656-0.375-0.656-0.781 0-0.109 0.016-0.203 0.031-0.313l1.344-7.812-5.688-5.531c-0.187-0.203-0.391-0.469-0.391-0.75 0-0.469 0.484-0.656 0.875-0.719l7.844-1.141 3.516-7.109c0.141-0.297 0.406-0.641 0.766-0.641s0.625 0.344 0.766 0.641l3.516 7.109 7.844 1.141c0.375 0.063 0.875 0.25 0.875 0.719z' fill='%23010002'%3E%3C/path%3E%3C/svg%3E%0A");
}
